.header {
  height: 60px;
  border-bottom: 1px solid black;
  background: beige;
  font-weight: bold;
  padding-inline: 20px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 70px;
    li{
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
