<header class="header">
  <nav>
    <ul>
      <li
        [ngClass]="{'active':activated ==='Home'}"
        (click)="activated ='Home'"
        routerLink="/dashboard">
        Home
      </li>
      <li
        [ngClass]="{'active':activated==='signals'}"
        (click)="activated ='signals'"
        routerLink="/signals">
        Users
      </li>

      <li
        [ngClass]="{'active':activated==='react'}"
        (click)="activated ='react'"
        routerLink="/react">
        React
      </li>
    </ul>
  </nav>
</header>
