<div class="card-body">
  <div style="background: white; width: 100%; display: flex; justify-content: center; border-top-left-radius: 8px;
  border-top-right-radius: 8px;
">
    <img ngSrc="https://img.freepik.com/premium-vector/character-avatar-isolated_729149-194801.jpg?semt=ais_hybrid&w=740"
         width="80" height="80">

  </div>

  <div class="details">
    <ul>
      <li>name:Test</li>
      <li>name:Test</li>
      <li>name:Test</li>
      <li>name:Test</li>
      <li>name:Test</li>
      <li>name:Test</li>
      <li>
        <button>
          Details
        </button>
      </li>
    </ul>
  </div>
</div>
