<div>
  @let lists = this.list();

  <h1 style="text-align: center">Signal component</h1>
<!--  <h2>{{ userNameSignal() }}</h2>-->
<!--  <h2>{{ ifUserIsAdult() }}</h2>-->

  <div class="add-task">
    <button (click)="getList()">Get list</button>
    <input #task type="text" placeholder="Add a new user" />
    <button (click)="addNewUser(task.value)">Add user</button>
  </div>
  @defer (when lists){
    <div style="display: flex;flex-direction: column">
      @for (user of list(); track user) {
        <h3>{{user.firstName}}<button (click)="deleteUser(user)">delete</button></h3>
      }
<h1>total elements {{this.totlaElements}}</h1>
      <button (click)="filterUsers()">filter</button>
    </div>
  } @placeholder (minimum 100ms){
    Users list....
  } @loading (after 100ms; minimum 1s){
    Please click Get list
  }

</div>
